@import '../../assets/theme.scss';

.notice {
	width: 320px;
	margin: 64px auto;
	padding: 8px 0;
	color: rgba(white, 0.15);
}

.loader {
	display: inline-block;
	width: 48px;
	height: 48px;
	margin: 64px 0;

	&:after {
		content: '';
		display: block;
		width: calc(100% - 4px * 2);
		height: calc(100% - 4px * 2);
		border-radius: 50%;
		border: 4px solid transparent;
		border-color: c(blue) transparent transparent transparent;
		animation: rotate 0.5s linear infinite,
			fade-in 0.15s ease-in;
	}
}

.list {
	margin: 0 auto;
	padding: 2px 0;
	list-style: none;
	user-select: none;
}
