@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
@import '../../assets/theme.scss';

:root {
    @keyframes rotate {
        from { transform: rotate(0deg); }
        to { transform: rotate(360deg); }
    }

    @keyframes blink {
        50% { opacity: 0; }
    }

	@keyframes fade-in {
        from { opacity: 0; }
        to { opacity: 1; }
    }

    @keyframes pop-up {
		0% { top: 60%; }
		100% { top: 50%; }
	}

	body {
		margin: 0;
		text-align: center;
		color: white;
		background-color: black;
		@include font('Open Sans', 300, 16px, 24px);
	}
}
