@import '../../assets/theme.scss';

.item {
    height: 300px; // max image height
    width: calc(25% - 4px * 2);
    display: inline-flex;
    align-items: flex-end;
    margin: 4px;
    text-align: center;
    background-color: #333;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: filter 0.2s;
    cursor: pointer;
    filter: grayscale(100%);

    &:hover {
        filter: grayscale(0%);
        background-size: 105%;

        .name {
            background: rgba(black, 0.75);
        }
    }

    .name {
        width: 100%;
        display: inline-block;
        font-size: 18px;
        font-weight: 600;
        padding: 16px 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        background: rgba(black, 0.25);
        transition: background-color 0.2s;
    }
}
