@import '../../assets/theme.scss';

.modal {
    z-index: 10;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(black, 0.75);
    animation: fade-in 0.3s ease-out;

    .window {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 320px;
        max-height: 420px;
        padding: 32px 0;
        transform: translate(-50%, -50%);
        border-radius: 6px;
        background-color: c(off-white);
        animation: pop-up 0.3s ease-out;

        .close {
            width: 36px;
            height: 36px;
            position: absolute;
            top: -16px;
            right: -16px;
            font-size: 30px;
            font-weight: 500;
            line-height: 36px - 4px; // x-height tolerance
            color: c(gray-lt);
            background-color: c(off-black);
            border-radius: 50%;
            cursor: pointer;

            &:hover {
                color: c(off-white);
                background-color: c(red);
            }
        }

        .photo {
            width: 180px;
            height: 180px;
            background-size: cover;
            border-radius: 6px;
            margin-bottom: 24px;
        }

        .name {
            width: 100%;
            padding-top: 6px;
            font-size: 18px;
            font-weight: 600;
            color: black;
            background: rgba(black, 0.2);
        }

        .origin {
            width: 100%;
            padding-bottom: 6px;
            font-size: 14px;
            color: c(gray-dk);
            background: rgba(black, 0.2);
        }

        i {
            margin-top: 16px;
            margin-bottom: 8px;
            padding: 1px 6px 0px 6px;
            color: c(gray-dk);
            // background-color: c(gray-dk);
            border-radius: 6px;
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            text-transform: uppercase;
        }

        .episodes {
            list-style: none;
            padding: 0;
            margin: 0;
            margin-top: 20px;

            li {
                font-size: 14px;
                line-height: 18px;
                color: black;
            }
        }
    }
}
